<h1>About Sesame Street</h1>
<h2>Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit.</h2>
<h4>Quasi nam necessitatibus, laboriosam libero ratione, optio quaerat omnis error perferendis soluta natus nisi odio corporis quidem. Impedit minus excepturi maxime, ullam.</h4>
<%= image_tag "sesamestreet.png", size: "500x200" %>
<p>Find me in app/views/pages/about.html.erb</p>
